/*Coloring tasks*/
body {
    background-color: grey;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: lightgrey;
    }
}

@font-face {
    font-family: myFirstFont;
    src: "./fonts/OpenSans-Regular.ttf";
}

#pageTitle {
    color: rgba(255, 240, 0, 1);
}

#pageSubtitle, #date {
    color:  hsl(50, 50%, 50%);
}

.mainSections {
    color: #FFF9A6;
}

/*Select all img elements with 'alt' attribute*/
img[alt] {
    margin-top: 5em;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 5em;

    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    border-style:dashed;
    border-color: seagreen;
    border-width: 3vh;
    border-radius: 3vh;

    position: relative;

    width:"750";
    height:"600";
    max-width: "900";
    max-height: "720";
}

.videoBox{
    margin: 15pt 15pt 15pt 15pt;
    padding: 15pt 15pt 15pt 15pt;
}

section audio {
    margin: auto;
}

section > details > p {
    color: lightseagreen;
    display: inline;
}


#media > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    display: grid;
    row-gap: 2mm;
    column-gap: 4mm;
    grid-template-columns: auto auto auto;
}

ul ~ li {
    text-decoration: 5px;
    text-align:left;
}

p + ul {
    display: block;
}

a {
    position: fixed;
}

/*Styling links with pseudo-selectors*/
a:hover {
    color: pink;
}

a:active {
    color: violet;
}


