/*Coloring tasks*/
body {
    background-color: lightgrey;
}

#pageTitle {
    color: rgba(255, 240, 0, 1);
}

#pageSubtitle, #date {
    color:  hsl(50, 50%, 50%);
}

.mainSections {
    color: #FFF9A6;
}

/*Select all img elements with 'alt' attribute*/
img[alt] {
    margin-top: 103em;
    margin-right: 10em;
    margin-left: 10em;
    margin-bottom: 10em;

    padding-top: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;

    width:"750";
    height:"600";
    max-width: "900";
    max-height: "720";
}

.videoBox{
    margin: 15pt 15pt 15pt 15pt;
    padding: 15pt 15pt 15pt 15pt;
}

section audio {
    margin: auto;
}

section > details > p {
    color: lightseagreen
}


#media > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    display: grid;
    row-gap: 2mm;
    column-gap: 4mm;
    grid-template-columns: auto auto auto;
}

ul ~ li {
    text-decoration: 5px;
    text-align:left;
}

/*Styling links with pseudo-selectors*/
a:hover {
    color: pink;
}

a:active {
    color: violet;
}


